@import "import/_mixins/all"
@import "import/_components/all"

$color: #28a745
=border-radius($radius:4px)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

body
  +font('Open Sans',14px,400)
  +border-radius(14px)
  background: $color
